@import 'html5reset.scss';

@import 'fonts.scss';

@import 'nice_begin.scss';

$border: #9e9e9e;
$lGrey: #ccc;
$xlGrey: #f2f2f2;
$mGrey: #808080;
$dGrey: #4d4d4d;
$paleWhite: #f2f9ec;
$teal: #78bfb7;
$commentBlue: #525bf2;

@mixin bord1px($colour) {
	border: 1px solid $colour;
}

.uLight {
	font-family: 'ubuntu_lightregular', sans-serif;
}
.uReg {
	font-family: 'ubunturegular', sans-serif;
}
.uMed {
	font-family: 'ubuntu_lightbold', sans-serif;
}
.uBold {
	font-family: 'ubuntubold', sans-serif;
}

@import 'graphR.scss';

@import 'nice_end.scss';